<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/library/alls">
    <h1>Adding List</h1>
</a>
<form action="/library/save" method="post" id="save-book-rest">
    <label>
        ISBN:
        <input id="isbn-field" type="text" name="ISBN">
    </label>
    <label>
        TITLE:
        <input id="title-field" type="text" name="title">
    </label>

    <input type="submit" name="save-form">
</form>

<h1>Book List</h1>
<table>
    <tbody id="book-list-container">
    <tr>
    </tr>
    </tbody>
</table>

<script>

    const form = document.getElementById('save-book-rest');
    const container = document.querySelector('#book-list-container');

    const fetchBooks = async () =>{
        const response = await fetch('/api/library/books');
        const books = await response.json();
        return books;
    }

    const createBookElement = (info) =>{
        const tr = document.createElement('tr');

        tr.innerHTML = `
            <td>${info.ISBN}</td>
            <td>${info.title}</td>
            <td>
            <button onclick="deleteBook('${info.ISBN}')">Delete</button>
            </td>
        `;

        return tr;
    }

    const renderTable = async () =>{
        const books = await fetchBooks() || {};
        container.innerHTML = '';
        books.forEach(book => container.appendChild(createBookElement(book)));


    }


     Main = async () => {

        await renderTable();

        form.addEventListener('submit', async (e) =>{
            e.preventDefault();
            const formData = new FormData(form);
            const response = await fetch('/api/library/save', {
                method: 'POST',
                body: formData,
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if(response.ok){
                await renderTable();
            }else{
                alert('Error');
            }
        });
    }

</script>

</body>
</html>