<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Books</title>
</head>
<body>
<!-- TODO show all the books -->
<a href="/library/alls">
    <h1>Adding List</h1>
</a>
<form action="/library/save" method="post">
    <label>
        ISBN:
        <input id="isbn-field" type="text" name="ISBN">
    </label>
    <label>
        TITLE:
        <input id="title-field" type="text" name="title">
    </label>

    <input type="submit" name="save-form">
</form>
</body>
</html>